
<!-- contact now -->
    <section class="container py-5">
      <div class="row">
        <div class="col-md-6 <px-5></px-5>">
          <div class="text-center align-items-center">
            <form>
              <div class="form-row">
                <input type="text " class="form-control my-3" placeholder="First name">
                <input type="text " class="form-control my-3" placeholder="Last name">
                <input type="text " class="form-control my-3" placeholder="email">
                <input type="text " class="form-control my-3" placeholder="Last name">
              </div>
            </form>
            <div class="text-center mt-5">
              <a href="shop.html" class="btn btn-lg btn-danger">send</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 hare">
          <img src="images/shop-banner.png" alt="" class="img-fluid">
          <a href="shop.html" class="btn btn-lg btn-light">out shop</a>
        </div>
      </div>
    </section>
    <!-- address -->
    <div class="kong pet" id="cont">
      <section class="container">
        <div class="row">
          <div class="col-lg-2 col-sm-6">
            <a href="#"><i class="fas fa-shoe-prints fa-2x py-5"></i></a>
            <p class="text-white">ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur ipsum dolor sit amet,</p>

          </div>
          <div class="col-sm-6 col-lg-2 text-white py-5">
            <a href="#"> <i class="fas fa-mobile-alt fa-2x px-3"></i>(71)</a>
            <p>1234567890</p>
            <p>Address</p>
            <a href="#" class="text-white"><i class="fas fa-map-marker-alt px-3"></i>No 40 Baria Sreet 15/2 NewYork City, NY, United States.
            </a>
          </div>
          <div class="col-sm-6 col-lg-2 text-white py-5">
            <a href="#" class="text-white"><i class="fas fa-envelope px-2"></i>Demo@gmail.com
            </a>
            <h1>our company</h1>
            <p>Delivery
              Legal Notice
              About us
              Secure payment
              Contact us</p>
          </div>
          <div class="col-sm-6 col-lg-2 text-white py-5">
            <a href="#"> <i class="fab fa-google-plus-g "></i>
              <a href="#"><i class="fab fa-facebook  px-2"></i></a>
              <a href="#"><i class="fab fa-twitter px-2"></i></a>
              <a href="#"><i class="fab fa-instagram-square "></i></a>

              <h1>products</h1>
              <p>Prices drop
                New products
                Best sales
                Contact us
                Sitemap</p>
          </div>
          <div class="col-md text-white py-5">
            <h1>news letters</h1>
            <input type="text" name="" value=""><br>
            <a href="contact.html" class="btn btn-lg btn-outline-success mt-3">subscribe</a>
          </div>
        </div>
      </section>
    </div>
    <!--ending -->
    <div class="contaner-fluid lucy py-3">
      <div class="container">
        <p class="text-white text-center">2021 All Rights Reserved by dharmareddy.p</p>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('.owl-carousel').owlCarousel({
        rtl: true,
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 3
          },
          1000: {
            items: 5
          }
        }
      })
      </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="venobox.min.js"></script>
</body>
</html>
