<%- include("./partials/header"); %>
<div class="h1 text-light ko text-center py-3">

      <h1 class="pt-5">shoes</h1>
    </div>

    <section>
      <div class="container fun py-5">
        <div class="row">
          <div class="col-lg-6">
            <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1605812860427-4024433a70fd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzV8fHNob2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
</div>
          </div>
          <div class="col-lg-6">
            <h1 class="h2 text-bold py-5">  New Arrivals Products
            <p class=" text-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></h1>
          </div>
        </div>


      </div>
      <div class="container-fluid lucy">
        <div class="container">
          <div class="row">
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">best shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1545289414-1c3cb1c06238?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw0MzEzMDc4fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row justify-content-center ">
                  <div class="col-md-6 mt-3 align-items-center">
                    <h6>♦♦♦♦♦</h6>
                  </div>
                  <div class="col-md-6 k mt-3 ">
                    <h6>$<span>60</span> </h6>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">best shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1607522370275-f14206abe5d3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h6>$<span>60</span> </h6>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">best shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1556048219-bb6978360b84?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8c2hvZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h6>$<span>60</span> </h6>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1595461135849-bf08893fdc2c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8c2hvZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1594100065556-1c920cd92f19?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fHNob2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1576133385309-203e67da8e58?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNob2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1520256862855-398228c41684?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzh8fHNob2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1533867617858-e7b97e060509?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHNob2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1465453869711-7e174808ace9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fHNob2VzfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1449505278894-297fdb3edbc1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNob2VzfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" alt="">
              <div class="row"></div>


                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up">              <img class="img-fluid" src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8c3BvcnQlMjBzaG9lc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
</div>

              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5 align-items-center">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-out-up">              <img class="img-fluid" src="https://images.unsplash.com/photo-1551107696-a4b0c5a0d9a2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fHNob2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
</div>

              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center py-5 text-center">
            <a href="collection.html" class="btn btn-lg btn-success">buy now</a>
          </div>
        </div>
      </div>
    </section>
<%- include("./partials/footer"); %>
