<%- include("./partials/header"); %>
<div class="container-fluid lucy text-center text-light pt-5">
    <h1 class="py-3">contact us</h1>
  </div>
  <div class="container">
    <h1 class="text-center">Please get in touch and our experts support team will answers all questions.</h1>
  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <form>
          <input type="text" class="form-control" placeholder="First name"><br>
          <input type="text" class="form-control" placeholder="Last name"><br>
          <input type="text" class="form-control" placeholder="email"><br>
          <p>are u existing customer ?</p>
          <div class="row">
            <div class="col-lg-6">
              <input type="radio" name="g" value="">yes
            </div>
            <div class="col-lg-6">
              <input type="radio" name="g" value="">no
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-sm-12 text-center">
        <<h5>meet our brilliant and knowledgeable support team</h5>
          <p>live support is availlable mon-fri 5am-7am ET/10am midnight GMT</p>
          <div class="d-inline d-flex">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0101/2792/files/Sunday_School_Baby_large.jpg?v=1514309017" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">best employee</h5>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMXxrW0NlmSO32pd1EECf8NzLIVWvskFVejlVsU54Fitrrw1VNNmHu19QG7P2z_y_EmBI&usqp=CAU" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">manager</h5>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7TXB8Dlg4-408loiLh4Pzkz8HYmvLUyyeUumU558kDjQhNFdjdwiaVt7NM7WlY3GseOg&usqp=CAU" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">hr</h5>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<%- include("./partials/footer"); %>
