<%- include("./partials/header"); %>
<!--CONTENT-->

  <div class="container-fluid py-5 jack ">
    <div class="row pt-5">
      <div class="col-2">
        <h5 class="lead text-light ">men shoes</h5>
          <div class="py-5 align-items-center ">
            <a class="venobox" data-vbtype="video" href="https://youtu.be/d85gkOXeXG4"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
          <h5 class="lead text-light">men shoes</h5>
      </div>
      <div class="col-5 align-items-center text-left d-none d-lg-block">
        <h1 class="display-6  k">New Running Shoes</h1>
        <h1 class="display-7 k">Men's Like Plex</h1>
        <p class="lead text-light py-5"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
        <a href="/buy" class="btn btn-danger btn-lg mr-5">Buy now</a>
        <a href="/collection" class="btn btn-outline-success btn-lg">see more</a>
      </div>
      <div class="col-lg-4 align-items-center justify-content-end">

          <img class="img-fluid " src="/images/running-shoes.png" alt="">

      </div>
    </div>
  </div>

  <!--content 2-->

    <section class="container text-dark pt-5">
      <h1>New Collection</h1>
      <p class="pet">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

      <div data-aos="zoom-in-up">
        <div class="owl-carousel owl-theme container">
          <img class="card-img-top item img-fluid" src="https://images.unsplash.com/photo-1465453869711-7e174808ace9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fHNob2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <img class="card-img-top item img-fluid" src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvZXN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <img class="card-img-top item img-fluid" src="https://images.unsplash.com/photo-1575537302964-96cd47c06b1b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8c2hvZXN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <img class="card-img-top item img-fluid" src="https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTJ8fHNob2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <img class="card-img-top item img-fluid" src="https://images.unsplash.com/photo-1548801133-da353ebb1d97?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDl8fHNob2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
          <img class="card-img-top item img-fluid" src="https://images.unsplash.com/photo-1521903062400-b80f2cb8cb9d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTJ8fHNob2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
        </div>
      </div>
    </section>

    <!-- see more -->
    <section class="container pt-5">
      <div class="jumbotron">
        <h1 class="h3 text-bold">Racing Boots </h1>
        <p class=" lead text-bold">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <div class="row">
          <div class="col-md-6 ">
            <div data-aos="zoom-in-up"><img class="img-fluid" src="/images/shoes-img3.png" alt=""></div>
          </div>
          <div class="col-md-6 px-5">
            <h1 class="k">sale</h1>
            <h1 class="text-dark">joging</h1>
            <h1 class="k">shoes</h1>
            <h1 class="text-dark"><span class="k">$</span>100</h1>
            <div class="align-items-center">
              <a href="/collection" class="btn btn-lg btn-danger">see more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- lead-->
    <section>
      <div class="container fun">
        <h1 class="h3 text-bold">New Arrivals Products</h1>
        <p class=" text-bold">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>
      <div class="container-fluid lucy">
        <div class="container">
          <div class="row">
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">best shoes</h1>
              <div data-aos="zoom-in-up"><img class="img-fluid" src="/images/shoes-img5.png" alt=""></div>


              <div class="row justify-content-center ">
                <div class="col-md-6 mt-3 align-items-center">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k mt-3 ">
                  <h6>$<span>60</span> </h1>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">best shoes</h1>
              <div data-aos="zoom-in-up"> <img class="img-fluid" src="/images/shoes-img1.png" alt=""></div>


              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h1>
                </div>
                <div class="col-md-6 k">
                  <h6>$<span>60</span> </h1>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">best shoes</h1>
              <div data-aos="zoom-in-up"><img class="img-fluid" src="/images/shoes-img2.png" alt=""></div>

              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h6>$<span>60</span> </h1>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-in-up"><img class="img-fluid" src="/images/shoes-img7.png" alt=""></div>
              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-in-up"><img class="img-fluid" src="/images/shoes-img8.png" alt=""></div>
              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 lol mt-5">
              <h1 class="text-center">sports shoes</h1>
              <div data-aos="zoom-in-up"><img class="img-fluid" src="/images/shoes-img9.png" alt=""></div>
              <div class="row">
                <div class="col-md-6 ">
                  <h6>♦♦♦♦♦</h6>
                </div>
                <div class="col-md-6 k">
                  <h5>$<span>60</span> </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center py-5 text-center">
            <a href="/buy" class="btn btn-lg btn-success">buy now</a>
          </div>
        </div>
      </div>
    </section>
<%- include("./partials/footer"); %>
